<div class = "container home-page">
	<p><b>Problem statement:</b> This project aims at writing a simple Ruby on Rails application to store User details, edit and later delete the user details if required. </p>
	<p><span class = "btn btn-success home-page-button"><b>Expected Output</b></span><br> 
		1) Create simple Rails application<br> 
		2) Store User details <br>
		3) Edit User details <br>
		4) Option to delete the user details if required </p>
</div>